{% extends 'base.html' %}

{% block content %}
    <div>
        <div style="text-align: center; max-width=500px; margin: 4rem; auto;">
            <p>
                {{ target_user.date_joined }}
            </p>
            <!-- object-fit 요런거 원래 css로 다 빼야한대 -->
            <img src="{{ target_user.profile.image.url }}" alt="" style="height: 12rem; width: 12rem; border-radius: 20rem; margin-bottom: 2rem; object-fit:cover;">
            {% if target_user.profile %}
            <h2 style="font-family: 'NanumSquareRoundOTFB'">
                {{ target_user.nickname }}
                    {% if target_user == user %}
                    <a class="material-icons" style="box-shadow: 0 0 4px #ccc; border-radius: 10rem; padding: .4rem;" href="{% url 'profileApp:update' pk=target_user.profile.pk %}">
                        edit
                    </a>
                    {% endif %}
            </h2>
            {% else %}
                {% if target_user == user %}
                <a href="{% url 'profileApp:create'%}">
                    <h2 style="font-family: 'NanumSquareRoundOTFB'">
                        Create Profile
                    </h2>
                </a>
                {% else %}
                <h2>
                    닉네임 미설정
                </h2>
                {% endif %}
            {% endif %}
            <h5 style="margin-bottom: 3rem";>
                {{ target_user.profile.message }}
            </h5>
            {% if target_user == user %}
            <a class="material-icons" style="box-shadow: 0 0 4px #ccc; border-radius: 10rem; padding: .4rem;" href="{% url 'accountApp:update' pk=target_user.pk %}">
                <p>
                    settings
                </p>
            </a>
            <a class="material-icons" style="box-shadow: 0 0 4px #fcc; border-radius: 10rem; padding: .4rem;" href="{% url 'accountApp:delete' pk=target_user.pk %}">
                <p>
                    cancel
                </p>
            </a>
            {% endif %}
        </div>
        <div>
            {% include 'snippets/list_fragment.html' with article_list=object_list %}
        </div>
    </div>
{% endblock %}