
.pinterest_logo{
    font-family: 'Lobster', cursive;
}

.pinterest_header{
    text-align:center;
    margin: 2rem 0;
}

.pinterest_footer{
    text-align:center;
    margin-top: 2rem;
}

.pinterest_footer_button{
    font-size: .6rem;
}

.block_content{
    border-radius: 1rem;
    margin: 2rem;
    text-align: center;
}

@media screen and (max-width:500px){
    html{
        font-size: 13px;
    }
}
